@charset "UTF-8";
@font-face {
  font-family: "Open Sans - Condensed Light";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
}
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

a,
ul,
li,
ol {
  text-decoration: none;
  list-style-type: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  border: none;
}

html {
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Yeseva One";
  font-weight: 400;
}

header {
  width: 100%;
  height: 230px;
  background-color: #aeaeae;
}
header .container {
  display: flex;
  align-items: center;
  height: 100%;
}
header .container .logo {
  position: absolute;
  left: 0;
  top: 65px;
  cursor: pointer;
  width: 60%;
}
header .container .logo img {
  width: 273px;
  height: 100px;
}
header .container .phones {
  position: absolute;
  right: 0;
  top: 45px;
  width: 40%;
  display: flex;
  flex-direction: column;
}
header .container .phones .phones-number {
  cursor: pointer;
  font-family: "Open Sans - Condensed Light";
  font-size: 40px;
  line-height: 1.15;
  letter-spacing: 1px;
  padding-bottom: 10px;
}
header .container .phones .phones-callback {
  cursor: pointer;
  -webkit-text-decoration: underline #898989 dashed;
          text-decoration: underline #898989 dashed;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.6px;
}

@media (max-width: 960px) {
  header .container .phones .phones-number {
    font-size: 30px;
  }
}
.modal-dialog {
  max-width: 400px;
  background: #FFFFFF;
  box-shadow: 0px 0px 17.7465px rgba(0, 0, 0, 0.12);
  border-radius: 26px;
}
.modal-dialog .modal-content {
  border: none;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 42px 20px;
  position: relative;
}
.modal-dialog .modal-content .modal-body {
  padding: 0;
}
.modal-dialog .modal-content .modal-body .form .inpb {
  display: flex;
  align-items: center;
}
.modal-dialog .modal-content .modal-body .form .inpb:last-of-type {
  align-items: flex-start;
}
.modal-dialog .modal-content .modal-body .form .inpb input {
  width: 70%;
  height: 40px;
  background: #f3f3f366;
  border: 0.8px solid #e8e8e869;
  padding: 0 5px 0 5px;
  font-weight: normal;
  text-align: left;
  color: #000000;
  margin: 10px 0px;
  outline: none;
}
.modal-dialog .modal-content .modal-body .form .inpb b {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  width: 75px;
}
.modal-dialog .modal-content .modal-body .form .inpb textarea {
  width: 245px;
  height: 100px;
  padding: 10px 16px 0 10px;
  border: 1px solid #EBEBEB;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  outline: none;
}
.modal-dialog .modal-content .modal-body .form button {
  min-width: 143px;
  height: 45px;
  background: #717171;
  border-radius: 5.91549px;
  border: none;
  padding: 0 20px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  margin: 15px auto;
}
.modal-dialog .modal-content .close {
  width: 50px;
  height: 50px;
  color: #00AC4E;
  position: absolute;
  top: 6px;
  right: 6px;
  outline: none;
}
.modal-dialog .modal-content .close img {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #767676;
}

.container {
  max-width: 980px;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto !important;
}

.menu {
  width: 100%;
  background-color: #767676;
}
.menu .menu-catalog {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 80px;
  font-size: 30px;
  letter-spacing: 0.75px;
}
.menu .menu-catalog .nav-item a {
  cursor: pointer;
  padding-right: 25px;
  border-right: 1px solid #ffffff;
  outline: none;
  color: #ffffff;
  font-size: 30px;
}
.menu .menu-catalog .nav-item a:hover {
  text-decoration: underline;
}
.menu .menu-catalog .nav-item:last-of-type a {
  padding-right: 0px;
  border-right: none;
}

@media (max-width: 960px) {
  .menu .menu-catalog a {
    padding-right: 20px;
    font-size: 20px;
  }
}
.slider .block {
  position: relative;
  width: 100%;
  height: 462px;
  overflow: hidden;
}

.content {
  padding-top: 10px;
}
.content .content-dom {
  line-height: 18px;
  letter-spacing: 0.35px;
  margin-bottom: 26px;
}
.content .main {
  display: flex;
  justify-content: space-between;
}
.content .main .right-block {
  width: 180px;
}
.content .main .right-block .right-block__categories {
  padding-bottom: 5px;
  font-size: 18px;
  letter-spacing: 0.45px;
}
.content .main .right-block .right-block__categories .right-block__categories:last-of-type {
  padding-bottom: 110px;
}
.content .main .right-block .right-block__categories .subcategories {
  list-style-type: disc;
  letter-spacing: 0.35px;
  margin-left: 17px;
}
.content .main .right-block .right-block__categories .selected {
  color: #010101;
  text-decoration: underline;
}
.content .main .right-block .right-block__categories span {
  text-decoration: underline;
}
.content .main .right-block .price-list {
  font-size: 30px;
  font-weight: 700;
  line-height: 25px;
  align-items: center;
  text-align: center;
}
.content .main .right-block .price-list img {
  width: 97px;
  height: 111px;
}
.content .main .card-wraper {
  width: 870px;
  display: flex;
  flex-wrap: wrap;
}
.content .main .card-wraper .card {
  background-color: #b1b1b1;
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 20px 15px;
  padding: 20px 20px 14px 20px;
}
.content .main .card-wraper .card .card-img {
  align-self: center;
  width: 210px;
  height: 209px;
  margin-bottom: 21px;
}
.content .main .card-wraper .card h4 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.45px;
  margin-bottom: 55px;
}
.content .main .card-wraper .card .card-bottom {
  display: flex;
}
.content .main .card-wraper .card .card-bottom span {
  color: #444444;
  font-size: 28px;
  line-height: 18px;
  letter-spacing: 0.7px;
  padding-right: 65px;
}
.content .main .card-wraper .card .card-bottom img {
  width: 28px;
  height: 21px;
}
.content .content-bottom {
  position: relative;
  width: 780px;
  margin-left: auto;
}
.content .content-bottom .pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
  margin-bottom: 67px;
}
.content .content-bottom .pagination .page-item .page-link {
  color: #767676;
  margin: 0 10px;
}
.content .content-bottom .pagination .active {
  color: #444444;
  font-size: 18px;
}
.content .content-bottom .content-info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  height: 422px;
  width: 100%;
}
.content .content-bottom .content-info p {
  width: 370px;
  letter-spacing: 0.35px;
  margin-top: 29px;
}

@media (max-width: 800px) {
  .content .content-bottom {
    width: 700px;
  }
  .content .content-bottom .content-info p {
    width: 335px;
  }
}
footer {
  color: #ffffff;
  width: 100%;
  height: 220px;
  background-color: #767676;
}
footer .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: top;
  padding-top: 50px;
  height: 100%;
}
footer .container .about-company {
  letter-spacing: 0.35px;
  width: 201px;
}
footer .container .nav .nav-item {
  cursor: pointer;
  padding-bottom: 5px;
  margin-left: 10px;
}
footer .container .nav .nav-item:hover {
  text-decoration: underline;
}
footer .container .development {
  display: flex;
  width: 220px;
}
footer .container .development img {
  width: 36px;
  height: 38px;
  margin-right: 9px;
}